### Thanks to the developers of the very useful dependencies...

* [@pigalle/registries.plugins](https://github.com/pigalle-io/registries.plugins) by [pigalle.io](https://github.com/pigalle-io/)
* [@pigalle/plugins.thirdparty](https://github.com/pigalle-io/plugins.thirdparty) by [pigalle.io](https://github.com/pigalle-io/)
